<!-- <input type="text" (keyup.enter)="onEnterName($event)"> -->
<!-- 
<label>Pesquisar por nome:</label>
 <input type="text" [(ngModel)]="nome" (keyup.enter)="filtrar()">

<label> Genero:</label>
<select [(ngModel)]="genero" (change)="filtrar()">
    <option value="">Selecione</option>
    <option value="male">Masculino</option>
    <option value="female">Feminino</option>
    <option value="genderless">Sem gênero</option>
    <option value="unknow">Desconhecido</option>
</select>

<label> Status:</label>
<input type="radio" [(ngModel)]="status" (change)="filtrar()" name="status" value="alive">Vivo
<input type="radio" [(ngModel)]="status" (change)="filtrar()" name="status" value="dead">Morto
<input type="radio" [(ngModel)]="status" (change)="filtrar()" name="status" value="unknow">Desconhecido -->

<br>

<form [formGroup]="filter" (submit)="filtrar()">
    <!-- 
    <mat-form-field class="small" appearance="outline">
        <mat-label>Pesquisar por nome</mat-label>
        <input matInput type="text" placeholder="" formControlName="nome">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <label> Genero:</label>
    <select formControlName="genero">
        <option value="">Selecione</option>
        <option value="male">Masculino</option>
        <option value="female">Feminino</option>
        <option value="genderless">Sem gênero</option>
        <option value="unknown">Desconhecido</option>
    </select>

    <label> Status:</label>
    <input type="radio" formControlName="status" value="alive">Vivo
    <input type="radio" formControlName="status" value="dead">Morto
    <input type="radio" formControlName="status" value="unknown">Desconhecido

    <button mat-flat-button type="submit">Pesquisar</button>
    <button mat-flat-button (click)="filter.reset()">Limpar</button>  -->

    <mat-form-field class="small" appearance="outline">
        <mat-label>Pesquisar por nome</mat-label>
        <input matInput type="text" formControlName="nome" style="height: 20px !important;">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Gênero</mat-label>
            <mat-select formControlName="genero">
                <mat-option value="">Selecione</mat-option>
                <mat-option value="male">Masculino</mat-option>
                <mat-option value="female">Feminino</mat-option>
                <mat-option value="genderless">Sem gênero</mat-option>
                <mat-option value="unknow">Desconhecido</mat-option>
            </mat-select>
    </mat-form-field>

    <mat-radio-group formControlName="status">
        <mat-label>Status</mat-label>
        <mat-radio-button value="alive">Vivo</mat-radio-button>
        <mat-radio-button value="dead">Morto</mat-radio-button>
        <mat-radio-button value="unknow">Desconhecido</mat-radio-button>
    </mat-radio-group>

    <div class="buttons">
        <button mat-flat-button color="primary" type="submit">Pesquisar</button>
        <button mat-flat-button color="accent" (click)="filter.reset()">Limpar</button>
    </div>
</form>

<br>
<br>

<app-tabela [personagens]="personagens" [prev]="prev" [next]="next" (onFirstPage)="primeiraPagina()" (onPrevPage)="paginaAnterior()" (onNextPage)="proximaPagina()" (onLastPage)="ultimaPagina()" 
    (onVisualize)="irParaDetalhesPersonagem($event)">
</app-tabela>


<!-- <table border="1" *ngIf="existeRegistro; else semRegistros"> -->
<!-- 
<table border="1" *ngIf="existeRegistro">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Species</th>
            <th>Gender</th>
            <th>Location Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personagem of personagens">
            <td>{{ personagem.name }}</td>
            <td>{{ personagem.type }}</td>
            <td>{{ personagem.status }}</td>
            <td>{{ personagem.species }}</td>
            <td>{{ personagem.gender }}</td>
            <td>{{ personagem.location!.name }}</td>
        </tr>        
    </tbody>
</table>

<h3 *ngIf="!existeRegistro">Nenhum registro encontrado.</h3> -->
<!-- <ng-template #semRegistros></ng-template> -->