<!-- <input type="text" (keyup.enter)="onEnterName($event)"> -->
<!-- 
<label>Pesquisar por nome:</label>
 <input type="text" [(ngModel)]="nome" (keyup.enter)="filtrar()">

<label> Genero:</label>
<select [(ngModel)]="genero" (change)="filtrar()">
    <option value="">Selecione</option>
    <option value="male">Masculino</option>
    <option value="female">Feminino</option>
    <option value="genderless">Sem gênero</option>
    <option value="unknow">Desconhecido</option>
</select>

<label> Status:</label>
<input type="radio" [(ngModel)]="status" (change)="filtrar()" name="status" value="alive">Vivo
<input type="radio" [(ngModel)]="status" (change)="filtrar()" name="status" value="dead">Morto
<input type="radio" [(ngModel)]="status" (change)="filtrar()" name="status" value="unknow">Desconhecido -->

<br>

<form [formGroup]="filter" (submit)="filtrar()">
    <label>Pesquisar por nome:</label>
    <input type="text" formControlName="nome">

    <label> Genero:</label>
    <select formControlName="genero">
        <option value="">Selecione</option>
        <option value="male">Masculino</option>
        <option value="female">Feminino</option>
        <option value="genderless">Sem gênero</option>
        <option value="unknown">Desconhecido</option>
    </select>

    <label> Status:</label>
    <input type="radio" formControlName="status" value="alive">Vivo
    <input type="radio" formControlName="status" value="dead">Morto
    <input type="radio" formControlName="status" value="unknown">Desconhecido

    <button type="submit">Pesquisar</button>
    <button (click)="filter.reset()">Limpar</button>
</form>

<br>
<br>

<button (click)="firstPage()" [disabled]="!prev">First</button>
<button (click)="prevPage()" [disabled]="!prev">Prev</button>
<button (click)="nextPage()" [disabled]="!next">Next</button>
<button (click)="lastPage()" [disabled]="!next">Last</button>

<br>
<br>

<!-- <table border="1" *ngIf="existeRegistro; else semRegistros"> -->
<table border="1" *ngIf="existeRegistro">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Species</th>
            <th>Gender</th>
            <th>Location Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personagem of personagens">
            <td>{{ personagem.name }}</td>
            <td>{{ personagem.type }}</td>
            <td>{{ personagem.status }}</td>
            <td>{{ personagem.species }}</td>
            <td>{{ personagem.gender }}</td>
            <td>{{ personagem.location!.name }}</td>
        </tr>        
    </tbody>
</table>

<!-- <ng-template #semRegistros></ng-template> -->
<h3 *ngIf="!existeRegistro">Nenhum registro encontrado.</h3>